@font-face {
	font-family: "MrsEavesRoman";
	font-style: normal;
	font-weight: 500;
	src: local("MrsEavesRoman"), local('MrsEavesRoman'), url("../style/fonts/MrsEavesRoman-Regular.ttf") format('truetype');
}

@font-face {
	font-family: "Adora Bouton";
	font-style: normal;
	font-weight: 400;
	src: local("AdoraBouton"), local('AdoraBouton'), url("https://d3jpwrui3eswtl.cloudfront.net/adorabouton/AdoraBouton-Regular.otf") format('opentype');
}

@font-face {
    font-family: "Baskerville";
    font-style: normal;
    font-weight: 400;
    src: local("BaskervilleBookBQ-Regular"), local('BaskervilleBookBQ-Regular'), url("https://d3jpwrui3eswtl.cloudfront.net/baskervillebookbq/BaskervilleBookBQ-Regular-Regular.otf") format('opentype');
}
